body {
  font-family: "playfair display", Helvetica, sans-serif;
  text-align: center;
}

.color_pallet_containter {
  display: flex;
  flex-direction: row;
  padding: 7px;
  font-size: 18px;
  text-align: left;
  margin: 0 auto;
  max-width: 500px;
  flex-wrap: wrap;
}

.color_pallet_containter article {
  padding: 4px;
  margin: 2px;
  display: flex;
  align-items: center;
  width: 150px;
  background-color: #fafafa;
}

.color_pallet_containter article div {
  height: 30px;
  width:30px;
  margin: 7px;
}

.tan div {
  background-color: #f6f0d6;
}
.light_yellow div {
  background-color: #f0d39b;
}
.rich_yellow div {
  background-color: #ffb729;
}
.dusty_rose div {
  background-color: #d96d63;
}
.burgundy div {
  background-color: #592d29;
}
.mid_red div {
  background-color: #95554f;
}
.deep_green div {
  background-color: #566a5f;
}
.light_green div {
  background-color: #c4d3a8;
}
.white_green div {
  background-color: #dfeada;
}
